.menu, .menu ul, .menu li, .menu a {
    margin: 0;
  }

  .menu li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    height: 40px;
  }
  
  .menu a {
    display: block;
    padding: 0 16px;
    margin: 6px 0;
    line-height: 28px;
    text-decoration: none;
    
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    transition: color .2s ease-in-out;
  }
  
  .menu li:firs-child a {border-left: none;}
  .menu li:last-child a {border-right: none;}
  
  .menu li:hover > a {color: #744079}
  
  .menu ul {
    position: absolute;
    top: 40px;
    left: 0px;
    
    opacity: 0;
    background:  rgba(128, 128, 128, 0.295);
    border-radius: 0 0 5px 5px;
    transition: opacity .20s ease .1s;
  }
  
  .menu li:hover > ul {opacity: 1;}
  
  .menu ul li {
    height: 0;
    overflow: hidden;
    padding: 0;
    
    transition: height .25s ease .1s;
  }
  
  .menu li:hover > ul li {
    height: 36px;
    overflow: visible;
    padding: 0;
  }
  
  .menu ul li a {
    width: 130px;
    padding: 4px 10px;
    margin: 0;
    border: none;
    border-bottom: 1px solid #353539;
  }
  .menu ul li:last-child a { border: none; }
  .conteiner li a:hover {
    color:#f9b7ff;
    }
    
    .conteiner ul li:hover > ul {
      display:block;
    }
    
    .conteiner {
        position: absolute;
        background-color: rgba(128, 128, 128, 0.295);
        display: flex;
        justify-content: center;
        width: 100%;}
    
    .coleccion {   
        padding: 10px;
        display: none;
        position: absolute;
        }
    
    ul li {
        margin-left: 0;
        margin-right: 0;
        color: rgb(129, 18, 133);
        list-style-type: none;
        text-transform: uppercase;
        display: inline-block;}
    
    ul li a {
        color: rgb(255, 255, 255);
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        text-transform: uppercase;
    }  

    #btn-menu {
        display: none;
    }

    header label img{
        width: 100%;
    }

    header label{
        display: none;
        width: 30px;
        height: 30px;
        padding: 10px;
    }

    header label:hover{
        cursor: pointer;
        background: rgba (0,0,0,0.3);
    }
  
    #btn-menu{
        display: none;
    }
    
    
    header label img{
        width: 100%;
    }
    
    header label{
        display: none;
        width: 30px;
        height: 30px;
        padding: 10px;
        position: absolute;
    }
    
    header label:hover{
        cursor: pointer;
        background: rgba (0,0,0,0.3);
    }
    
    @media (max-width: 600px) {
        header label  {
            display: block;
        }
    
        .menu li{
            display: block;
        }
    
        .conteiner{
            flex-direction: column;
            margin-left: -100%;
        }
    
        #btn-menu:checked~.conteiner{      
             margin:0;
        }
    }