
$propiedades: (
color-titulo: rgb(0, 0, 0),
margen-imagen: 5px 1% 20px 1%,
sombra: 7px 7px 5px 0px rgba(117, 116, 116, 0.329),
centrado-texto: center,
texto-mayusculas: uppercase,
margen-titulo: 20px, )