@import "variables";
@import "mixin";

.titulos {
    color: map-get( $propiedades, color-titulo );
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:map-get( $propiedades, centrado-texto );
}

h1 { @extend .titulos;
    background-color: gray;
    text-transform:map-get( $propiedades, texto-mayusculas);
}

h4 {
    @extend .titulos;
    margin-left: map-get( $propiedades,margen-titulo);
    margin-bottom: 30px;
}

.margen {
    margin:map-get( $propiedades, margen-imagen);
}

.sobre-eliza {
    box-shadow: map-get( $propiedades,sombra);
    width: 98%;
}

footer {
    margin-top: 30px;
}

.showroom {
    box-shadow: map-get( $propiedades,sombra) ;
    width: 100%;
}
