.ig {
  color: black;
  font-size: 20px;
  padding: 3px; }

.tw {
  color: black;
  font-size: 20px;
  padding: 3px; }

.yt {
  color: black;
  font-size: 20px;
  padding: 3px; }

.titulos, h1, h4 {
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center; }

h1 {
  background-color: gray;
  text-transform: uppercase; }

h4 {
  margin-left: 20px;
  margin-bottom: 30px; }

.margen {
  margin: 5px 1% 20px 1%; }

.sobre-eliza {
  box-shadow: 7px 7px 5px 0px rgba(117, 116, 116, 0.329);
  width: 98%; }

footer {
  margin-top: 30px; }

.showroom {
  box-shadow: 7px 7px 5px 0px rgba(117, 116, 116, 0.329);
  width: 100%; }
